<!DOCTYPE html>
<html lang="en">
<head>
  <title>GROUP IV 23</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SENTIMENT ANALYZE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">TEXT</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="speech.html">SPEAK</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="docu.html">DOCUMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">ABOUT</a>
      </li>

    </ul>
  </div>
</nav>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">SENTIMENT ANALYSIS</h1>
      <p>Sentiment analysis is the use of natural language processing, text analysis, computational linguistics, and biometrics to systematically identify, extract, quantify, and study affective states and subjective information.</p>
      <p><a class="btn btn-primary btn-lg" href="https://www.google.com/search?q=Sentiment+analysis&oq=Sentiment+analysis&aqs=chrome..69i57j69i59l3j69i60l3j69i65.8691j0j7&sourceid=chrome&ie=UTF-8" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>PROBLEM STATEMENT</h2>
        <p>The software must provide the following output. 1) Classification of individual comments/reviews. 2) Determining overall rating based on individual comments/reviews.</p>
        <p><a class="btn btn-secondary" href="statem.html" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>TECHNOLOGY USED</h2>
        <p><ul>FLASK & PYTHON LIBRARIES</ul>
        <ul>BOOTSTRAP & NLTK</ul>
        </p>
        <p><a class="btn btn-secondary" href="tech.html" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>TEAM</h2>
        <p>This Project was made by Group IV 23, with Dr. Subhamita Mukherjee, HOD IT TMSL and our elite alumni Mr. Soumyadip Sen</p>
        <p><a class="btn btn-secondary" href="team.html" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


</section>

    <footer class="container">
      <p>&copy; GROUP IV 23</p>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</body>
</html>