<!DOCTYPE html>
<html lang="en">
<head>
  <title>GROUP IV 23</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SENTIMENT ANALYZE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="front.html">TEXT</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="speech.html">SPEECH</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="docu.html">DOCUMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"></a>ABOUT</a>
      </li>

    </ul>
  </div>
</nav>

</section>
<h1>TEXT Sentiment Analyzer</h1>
        <form method="POST">
            <textarea name="inputText" placeholder="Say Something: ...." rows="10" cols="109"></textarea><br><br>

            <input class="example_a" type="submit">
        </form>
        {% if final %}
        <div>
            <h4>The Sentiment of</h4> '{{ input_text }}' <h4>is {{ final *100}}% positive !</h4>
            {% else %}
            <h4>The Sentiment of</h4> '{{ input_text }}' <h4>is {{ final *100}}% negative !</h4>
            {% endif %}
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</body>
</html>