<!DOCTYPE html>
<html lang="en">
<head>
  <title>GROUP IV 23 23</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SENTIMENT ANALYZE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="f/">TEXT</a><!--<span class="sr-only">(current)</span>-->
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="speech.html">SPEAK</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="docu.html">DOCUMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">ABOUT</a>
      </li>

    </ul>
  </div>
</nav>

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Technologies</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('bootstrap (2).jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: black"></h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="bootstrap.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <!--<small>Bootstrap 5.1</small> -->
              <small><a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" style="color: white">BOOTSTRAP 5.1</a></small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-red bg-dark rounded-5 shadow-lg" style="background-image: url('flask-1.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 color:red">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color:white"></h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="flask_small.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <!-- <small>Flask</small> -->
              <small><a href="https://flask.palletsprojects.com/en/2.0.x/" style="color:white">Flask</a></small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('pyt.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color:black"></h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="pyt.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <!--<small>Python</small> -->
              <small><a href="https://docs.python.org/3/" style="color: rgb(17, 6, 65)">Python</a></small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</body>
</html>